<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="fe/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="fe/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="fe/images/icons/favicon-16x16.png">
    <link rel="manifest" href="fe/images/icons/site.html">
    <link rel="mask-icon" href="fe/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="fe/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="fe/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="fe/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="fe/css/style.css">
</head>

<body>
    <div class="page-wrapper">

        <main class="main">

            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('fe/images/backgrounds/login-bg.jpg')">
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							    <li class="nav-item">
							        <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">Đăng Nhập</a>
							    </li>
							</ul>
							<div class="tab-content">
							    <div class="" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
							    	<form action="/login" method="post">
							    		<div class="form-group">
							    			<label for="singin-email-2">Username</label>
							    			<input type="text" class="form-control" id="username" name="username" required>
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="singin-password-2">Password</label>
							    			<input type="password" class="form-control" id="password" name="password" required>
							    		</div><!-- End .form-group -->

							    		
							    			<button type="submit" class="btn btn-primary btn-block">
			                					<span>Đăng Nhập</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
							    	</form>
                                    <div class="mt-3 text-center">
                                        <p>Chưa có tài khoản? <a href="/register">Đăng ký ngay</a></p>
                                    </div>
							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


    <!-- Plugins JS File -->
    <script src="fe/js/jquery.min.js"></script>
    <script src="fe/js/bootstrap.bundle.min.js"></script>
    <script src="fe/js/jquery.hoverIntent.min.js"></script>
    <script src="fe/js/jquery.waypoints.min.js"></script>
    <script src="fe/js/superfish.min.js"></script>
    <script src="fe/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="fe/js/main.js"></script>
</body>


<!-- Mirrored from portotheme.com/html/molla/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 19 Jan 2024 03:17:14 GMT -->
</html>