


<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/fe/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fe/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fe/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/fe/images/icons/site.html">
    <link rel="mask-icon" href="/fe/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/fe/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/fe/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/fe/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fe/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/fe/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/fe/css/style.css">
    <link rel="stylesheet" href="/fe/css/plugins/nouislider/nouislider.css">
</head>

<body>
    <div class="page-wrapper" id="product-shirt-1">
        <header class="header header-6">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <ul class="top-menu top-link-menu d-none d-md-block">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i>Call: +0365 591 542</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="header-right">
                        <ul class="top-menu top-link-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="#signin-modal" data-toggle="modal"><i class="icon-user"></i>Đăng nhập</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Tìm kiếm sản phẩm ..." required>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="header-center">
                        <a href="/index " class="logo">
                            <img src="/fe/images/demos/demo-6/logo.png" alt="Molla Logo" width="82" height="20">
                        </a>
                    </div>

                    <div class="header-right">
                        
                        <div class="dropdown cart-dropdown">
                            <a href="cart " class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">2</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product ">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $84.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product " class="product-image">
                                                <img src="/fe/images/products/cart/product-1.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product ">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $76.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product " class="product-image">
                                                <img src="/fe/images/products/cart/product-2.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">$160.00</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="cart " class="btn btn-primary">View Cart</a>
                                    <a href="checkout " class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/index " class="">Home</a>
                                </li>
                                <li>
                                    <a href="/product/ao " class="">Áo</a>
                                </li>
                                <li>
                                    <a href="/product/quan " class="">Quần</a>
                                </li>
                                <li>
                                    <a href="/product/giaydep " class="">Giày dép</a>
                                </li>
                                <li>
                                    
                                </li>
                            </ul>
                        </nav>
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                    </div>

                    <div class="header-right">
                        <i class="la la-lightbulb-o"></i><p>Giải phóng mặt bằng giảm tới 30%</span></p>
                    </div>
                </div>
            </div>
        </header>

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index ">Home</a></li>
                        <li class="breadcrumb-item"><a href="/product/ao ">Áo</a></li>
                    </ol>

                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img th:src="@{/images/{url}(url=${product.imageUrl})}" th:alt="${product.productName}">
                                        </figure>

                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title" th:text="${product.productName}">Tên SP</h1>

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                                    </div><!-- End .rating-container -->

                                    <div class="product-price">
                                        <p><strong>Giá:</strong> <span th:text="${product.price}"></span> VND</p>
                                    </div><!-- End .product-price -->

                                    <div class="product-content">
                                        <p th:text="${product.description}">Mô tả sản phẩm</p>
                                    </div><!-- End .product-content -->

                                    <div class="details-filter-row details-row-size">
                                        <label for="size">Size:</label>
                                        <div class="select-custom">
                                            <select name="size" id="size" class="form-control">
                                                <option value="#" selected="selected">Chọn size</option>
                                                <option value="s">S</option>
                                                <option value="m">M</option>
                                                <option value="l">L</option>
                                                <option value="xl">XL</option>
                                            </select>
                                        </div><!-- End .select-custom -->

                                        
                                    </div><!-- End .details-filter-row -->

                                    <div class="details-filter-row details-row-size">
                                        <label for="qty">Số lượng:</label>
                                        <div class="product-details-quantity">
                                            <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                        </div><!-- End .product-details-quantity -->
                                    </div><!-- End .details-filter-row -->

                                    <div class="product-details-action">
                                        <a href="/cart.html" class="btn-product btn-cart"><span>Thêm vào giỏ hàng</span></a>

                                    </div><!-- End .product-details-action -->

                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Danh mục:</span>
                                            <a href="/product/ao ">Áo</a> ,
                                            <a href="#">Áo sơ mi</a>
                                        </div><!-- End .product-cat -->

                                        <div class="social-icons social-icons-sm">
                                            <span class="social-label">Chia sẻ:</span>
                                            <a href="https://www.facebook.com/" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                            <a href="https://x.com/" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                            <a href="https://www.instagram.com/" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                            <a href="https://www.pinterest.com/" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                        </div>
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Mô tả</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Thông tin bổ sung</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Giao Hàng & Trả Hàng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Nhận xét (2)</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>Thông tin sản phẩm</h3>
                                    <ul>
                                        <li>Chất liệu: Cotton pha polyester, mang lại sự thoáng mát và chống nhăn.</li>
                                        <li> Phong cách: Kẻ caro cổ điển phù hợp với phong cách casual hoặc semi-formal.</li>
                                        <li>Chi tiết: Thiết kế cổ bẻ truyền thống, tay dài có thể xắn gọn gàng, hàng cúc kín.</li>
                                        <li>Gợi ý phối đồ: Phù hợp khi kết hợp với quần jeans xanh hoặc kaki màu be, thêm đôi giày da lộn để hoàn thiện phong cách.</li>  
                                        
                                   
                                    </ul>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                                <div class="product-desc-content">
                                    <h3>Thông tin bổ sung</h3>

                                    <h3>Vải & chăm sóc</h3>
                                    <ul>
                                        <li>Chiều dài: 75cm; Vai: 45cm; Ngực: 110cm; Tay áo: 62cm</li>
                                        <li>Chất liệu: Cotton pha polyester</li>
                                        <li>Chống nhăn, dễ bảo quản, giặt máy ở chế độ nhẹ nhàng</li>
                                        <li>Họa tiết kẻ caro cổ điển, không phai màu</li>
                                        <li>Kích thước :</li>
                                        <li>Dáng: Regular fit</li>
                                    </ul>

                                    
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                                <div class="product-desc-content">
                                    <h3>Giao hàng &; trả hàng</h3>
                                        
                                    <p>Chúng tôi giao hàng đến hơn 100 quốc gia trên thế giới. Để biết chi tiết đầy đủ về các tùy chọn giao hàng mà chúng tôi cung cấp, vui lòng xem thông tin
                                        giao hàng của chúng tôi Chúng tôi hy vọng bạn sẽ thích mọi giao dịch mua, nhưng nếu bạn cần trả lại một mặt hàng, bạn có thể làm như vậy trong vòng một tháng kể từ khi nhận.<br>
                                   </p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                                <div class="reviews">
                                    <h3>Nhận xét (2)</h3>
                                    <div class="review">
                                        <div class="row no-gutters">
                                            <div class="col-auto">
                                                <h4><a href="#">Kiên Lê</a></h4>
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                </div><!-- End .rating-container -->
                                                <span class="review-date">6 days ago</span>
                                            </div><!-- End .col -->
                                            <div class="col">
                                                <h4>Tốt</h4>

                                                <div class="review-content">
                                                    <p>Áo thời trang, vừa vặn, hợp túi tiền!</p>
                                                </div><!-- End .review-content -->

                                                <div class="review-action">
                                                    <a href="#"><i class="icon-thumbs-up"></i>Hữu ích (2)</a>
                                                    <a href="#"><i class="icon-thumbs-down"></i>Không hữu ích(0)</a>
                                                </div><!-- End .review-action -->
                                            </div><!-- End .col-auto -->
                                        </div><!-- End .row -->
                                    </div><!-- End .review -->

                                    <div class="review">
                                        <div class="row no-gutters">
                                            <div class="col-auto">
                                                <h4><a href="#">Thông Hồ</a></h4>
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                </div><!-- End .rating-container -->
                                                <span class="review-date">5 days ago</span>
                                            </div><!-- End .col -->
                                            <div class="col">
                                                <h4>Rất tốt</h4>

                                                <div class="review-content">
                                                    <p>Áo phong cách, hợp với thời trang của tôi!</p>
                                                </div><!-- End .review-content -->

                                                <div class="review-action">
                                                    <a href="#"><i class="icon-thumbs-up"></i>Hữu ích (0)</a>
                                                    <a href="#"><i class="icon-thumbs-down"></i>Không hữu ích (0)</a>
                                                </div><!-- End .review-action -->
                                            </div><!-- End .col-auto -->
                                        </div><!-- End .row -->
                                    </div><!-- End .review -->
                                </div><!-- End .reviews -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .product-details-tab -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Plugins JS File -->
    <script src="/fe/js/jquery.min.js"></script>
    <script src="/fe/js/bootstrap.bundle.min.js"></script>
    <script src="/fe/js/jquery.hoverIntent.min.js"></script>
    <script src="/fe/js/jquery.waypoints.min.js"></script>
    <script src="/fe/js/superfish.min.js"></script>
    <script src="/fe/js/owl.carousel.min.js"></script>
    <script src="/fe/js/bootstrap-input-spinner.js"></script>
    <script src="/fe/js/jquery.elevateZoom.min.js"></script>
    <script src="/fe/js/bootstrap-input-spinner.js"></script>
    <script src="/fe/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="/fe/js/main.js"></script>
</body>
</html>